= simple_form_for @post, role: "form" do |f|
  = f.input :title, class:"title-opt"
  = f.input :content, class:"content-opt"
  = f.submit class: "btn btn-primary"
  = link_to "Cancel", root_path, class: "btn btn-danger"
