<!DOCTYPE html>
<html>
<head>
  <title>The HNP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrap">
    <section class="head">
      <div class="container">
        <%= link_to image_tag("hnp-logo.jpg"), root_path %>
        <!-- https://www.facebook.com/TheHNP/ -->
        <a href="https://www.facebook.com/TheHNP/" target="_blank"><i class="fa fa-facebook"></i></a>
        <!-- fa-youtube-play -->
        <a href="https://www.facebook.com/TheHNP/" target="_blank"><i class="fa fa-youtube-play"></i></a>
        <ul class="nav nav-tabs links">
          <li><%= link_to "Contact Us", home_contact_path %></li>
          <li><%= link_to "FAQ", faqs_path %></li>
          <li><%= link_to "Forums", home_forum_path %></li>
        </ul>
      </div>
    </section>
    <section class="sub-head">
      <div class="container">
        <ul class="category-list">
          <li><a href="#">All</a></li>
          <li><a href="#">PC</a></li>
          <li><a href="#">Xbox</a></li>
          <li><a href="#">Playstation</a></li>
          <li><a href="#">Switch</a></li>
        </ul>
      </div>
    </section>
    <section class="main">
      <!-- for devise -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <!---------------->
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </div>
  <section class="foot">
    <div class="wrap">
      <div class="container">
        <footer class="bot-elements">
            <div class="bot-sec-1 col-md-4">
              <h5>Reviews</h5>
              <ul>
                <li><a href="#">PC</a></li>
                <li><a href="#">Xbox</a></li>
                <li><a href="#">Playstation</a></li>
                <li><a href="#">Switch</a></li>
              </ul>
            </div>
            <div class="bot-sec-2 col-md-4">
              <h5>About</h5>
              <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Advertise</a></li>
              </ul>
            </div>
            <div class="bot-sec-3 col-md-4">
              <h5>Social</h5>
              <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Youtube</a></li>
              </ul>
            </div>
            <div class="bot-img">
              <%= link_to image_tag("hnp-logo.jpg"), home_index_path %>
            </div>
          </footer>
        </div>
    </div>
  </section>
</body>
</html>
